* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-weight: 700;
    letter-spacing: 1.5px;
}

p {
    font-weight: 500;
    letter-spacing: 0.5px;
}

body {
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Trispace', sans-serif;
    background-image:
        linear-gradient(180deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(0, 0, 0) 100%),
        url('assets/background_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: default;
}

.logo__img {
    width: 200px;
    animation: logo 2s ease 0.25s both;
}

@keyframes logo {

    0% {
        opacity: 0;
        transform: translateY(100px) scale(0, 0);
    }

    50% {
        transform: translateY(100px) scale(1, 1);
    }

    100% {
        transform: translateY(0) scale(1, 1);
    }
}

.container__info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    animation: info 2s ease 1.50s both;
}

.container__info p {
    color: #AFAFAF;
    font-size: 18px;
    animation: info 2s ease 2s both;
}

@keyframes info {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container__button {
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #232323;
    transition: ease 1s;
    animation: info 2s ease 2.50s both;
}

.container__button:hover {
    background-color: #AFAFAF;
    box-shadow:
        0 0 10px 2px rgba(175, 175, 175, 0.5),
        0 0 10px 4px rgba(175, 175, 175, 0.5),
        0 0 10px 6px rgba(175, 175, 175, 0.5);
}